/*nav*/

/*.content{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    width: 35%;
    height: 50%
}

.content

img{
    max-height: 5%;
}

/*.content_holder

/*.lower_div