<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends "main.html" %}
    {% load static %}
    
</head>
<body>
    {% block page_content %}
    <br>
    <br>
    <p class="pbook_detail">{{ book.title }} was published on {{ book.publication_date }}</p>
    <div class="rowbook_detail">
        <div>
            <img class="imgbook_detail" src="{{book.cover_photo.url}}" alt="">
        </div>
        <div class="contentbook_detail">
            <h5>Subject</h5>
            <p>{{ book.subject_area }}</p>
            <h5>Book details</h5>
            <p>{{book.description}}</p>
            <h5>Author</h5>
            <p>{{book.author}}</p>
            <br>
            <a class="borrowlink" href="{% url 'books:borrow' %}">Borrow</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>
